.task-modal {
  padding: 20px;
  min-width: 400px;
  max-width: 600px;

  mat-dialog-content {
    padding-top: 20px;
  }

  .form-field {
    width: 100%;
    margin-bottom: 16px;

    mat-form-field {
      width: 100%;
    }
  }

  mat-dialog-actions {
    padding: 16px 0;
    margin-bottom: 0;
  }
}::-webkit-scrollbar{
 
  display: none;
}
