<div class="login-container">
  <div class="login-box">
      <div class="login-header">
          <h1>Welcome Back</h1>

      </div>
      <!-- <form> -->
          <!-- <div class="input-group">
              <label for="email">Email</label>
              <input type="email" id="email" placeholder="Enter your email">
          </div>
          <div class="input-group">
              <label for="password">Password</label>
              <input type="password" id="password" placeholder="Enter your password">
          </div>
          <button type="submit" class="login-button">Sign In</button>

          <div class="divider">
              <span>OR</span>
          </div> -->

          <!-- <div id="g_id_onload"
               data-client_id="YOUR_GOOGLE_CLIENT_ID"
               data-callback="handleCredentialResponse">
          </div>
          <div class="g_id_signin"
               data-type="standard"
               data-size="large"
               data-theme="outline"
               data-text="sign_in_with"
               data-shape="rectangular"
               data-width="400">
          </div> -->
          <div id="buttonDiv"></div>


          <!-- <div class="forgot-password">
              <a href="#">Forgot password?</a>
          </div> -->
      <!-- </form> -->
  </div>
</div>
